@use "../../scss/breakpoint" as *;

.movie-list-row {
    .swiper-button-prev, .swiper-button-next {
        transform: scale(0);
        color: white;
        transition: all 0.5s ease;
        
        @include mobile {
            display: none;
        }
    }

    

    &:hover .swiper-button-prev, &:hover .swiper-button-next{
        transform: scale(1);
    }
    
    .swiper-slide {
        width: 25%;

        @include tablet {
            width: 35%;
        }

        @include mobile {
            width: 50%;
        }
    }
}
